<!DOCTYPE html>
<html>

<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container my-auto">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <ul id="messages" class="list-unstyled"></ul>
            <div id="typing-indicator"></div>
            <form id="form" class="form-inline mt-3">
              <input id="username" class="form-control mr-2" placeholder="Nombre de usuario" required
                autocomplete="off">
              <input id="message" class="form-control mr-2" placeholder="Escriba un mensaje..." autocomplete="off">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/socket.js"></script>
</body>

</html>