body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 100%;
    max-width: 750px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#88b5d8, #899faf, #a7b8c5, rgb(199, 243, 255));
}

.card-body {
    padding: 2rem;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 90vh;
    max-height: 70vh;
    background: linear-gradient(#88b5d8, #899faf, #a7b8c5, #a7b8c5(135, 228, 253));
}

#messages>li {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid rgb(175, 76, 76);
    color: #000000;
    background-color: #ffffff;
}

#messages>li:nth-child(odd) {
    background-color: #ffffff;
    border: 3px solid #45a049;
    color: #000000;
}

#form {
    margin-top: 1rem;
}

#username,
#message {
    flex: 1;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 1rem;
    color: #000000;
    text-shadow: 0 1px 1px #fff;
}

#form>button {
    background-color: #4caf50;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form>button:hover {
    background-color: #45a049;
}

#typing-indicator {
    color: #000000;
}